{% extends 'clientheritage.html.twig' %}

{% block body %}

 <div >
        	<div id="header">
        {{include ('view/affiche.html.twig') }}
    </div>

<section id="main-content">
      <section class="wrapper">
      <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">liste des utilisateurs/ Conatcter Utilisateur </li>
  </ol>
{%for message in app.flashes('message')%}
<div class="alert alert-success" role="alert">
{{message}}
</div>
{%endfor%}
<div style="    margin: 50px;">
{{form_start (contactForm , {'attr': {'novalidate': 'novalidate'}})}}
 {{ form_row(contactForm.sujet) }}
 {{form_end(contactForm)}}
</div>
{% endblock %}