{% extends 'base.html.twig' %}
{% block body %}

<section id="main-content">
    <section class="wrapper">
        <section id="">
            <section class="">

                <div class="row">
                    <div class="col-md-6 col-xl-4 style="margin-left:300px;">
                        <div class="card mb-3 widget-content bg-midnight-bloom">
                            <div class="widget-content-wrapper text-white">
                                <div class="widget-content-left">
                                    <div class="widget-heading">Total des réparateurs </div>
                                    <div class="widget-subheading"></div>
                                </div>
                                <div class="widget-content-right">
                                    <div class="widget-numbers text-white"><span>{{ nb }}</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
 

<div class="col-md-6 col-xl-4">
  <div class="card mb-3 widget-content bg-midnight-bloom">                                    <div class="widget-content-wrapper text-white">
                                        <div class="widget-content-left">
                                            <div class="widget-heading">Total des prospects </div>
                                            <div class="widget-subheading"></div>
                                        </div>
                                        <div class="widget-content-right">
                                            <div class="widget-numbers text-white"><span>{{Total}} </span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
<div class="col-md-6 col-xl-4">
  <div class="card mb-3 widget-content bg-midnight-bloom">                                    <div class="widget-content-wrapper text-white">
                                        <div class="widget-content-left">
                                            <div class="widget-heading"> Total des Clients</div>
                                            <div class="widget-subheading"></div>
                                        </div>
                                        <div class="widget-content-right">
                                            <div class="widget-numbers text-white"><span> {{nombre}}</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
  <div class=" col-md-6 col-xl-4">
  <div class="card mb-3 widget-content bg-midnight-bloom">                                    <div class="widget-content-wrapper text-white">
                                        <div class="widget-content-left">
                                            <div class="widget-heading">Total des réparateurs bloqués</div>
                                            <div class="widget-subheading"></div>
                                        </div>
                                        <div class="widget-content-right">
                                            <div class="widget-numbers text-white"><span>{{Totalrep}}</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

               
 <div class=" col-md-6 col-xl-4" style="margin-left:350px;
    margin-right: 200px;
    margin-top: -75px;">
   
  <div class="card mb-3 widget-content bg-midnight-bloom">                                    <div class="widget-content-wrapper text-white">
                                        <div class="widget-content-left">
                                            <div class="widget-heading">Total des prospects bloqués</div>
                                            <div class="widget-subheading"></div>
                                        </div>
                                        <div class="widget-content-right">
                                            <div class="widget-numbers text-white"><span>{{Total}}</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

</div>
<div class="col-md-6 col-xl-4" style="margin-left:720px;
    margin-right: 190px;
    margin-top: -75px;">
  <div class="card mb-3 widget-content bg-midnight-bloom">                                    <div class="widget-content-wrapper text-white">
                                        <div class="widget-content-left">
                                            <div class="widget-heading"> Total des clients bloqués</div>
                                            <div class="widget-subheading"></div>
                                        </div>
                                        <div class="widget-content-right">
                                            <div class="widget-numbers text-white"><span> {{TotalC}}</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
</section>
</section>
            </section>
        </section>
</section>
{% endblock %}